#home-root {
  width: 100%;
  padding: 60px 30px 0 50px;
  display: flex;
  flex-flow: row nowrap;
}

.bg-red {
  color: white;
  background-color: rgb(247, 110, 110);
}

.cols {
  display: flex;
  flex-flow: column nowrap;
}

#col1-avatar {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 200px;
  margin-bottom: 55px;
}

#col1 {
  flex-grow: 1;
  padding-left: 30px;
}

#col1 p {
  font-size: 20px;
  font-weight: bold;
}

#col1 span {
  font-weight: bold;
}

#col1 button {
  font-size: 14px;
  margin-bottom: 15px;
  padding: 8px 10px;
  width: 85%;
  border:none;
  border-radius: 5px;
}

#user-info {
  margin: 10px 0 35px 0;
}

#user-info div{
  margin-bottom: 8px;
}

#col1 a {
  margin-top: 8px;
}

#col2 {
  flex-grow: 5;
  padding-left: 45px;
  padding-right: 65px;
}

#new-post-input {
  height: 130px;
  padding: 23px 30px;
  margin: 12px 0 8px 0;
  font-size: 17px;
  border-radius: 5px;
  border-width: 1px;
}

#new-post-input::-webkit-input-placeholder {
  font-size: 24px;
}

#submit-post {
  border-width: 1px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 10px;
}

#col3 {
  flex-grow: 0.6;
  padding-right: 10px;
}

#contact-title {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 40px 0;
}

#following-list{
  width: 70%;
  font-size: 13px;
  margin: 10px 0 30px 0;
}

#blocking-list{
  width: 70%;
  font-size: 13px;
  margin: 10px 0;
}

#col3 input {
  padding: 4px 10px;
  margin-right: 18px;
  border-radius: 3px;
  border-width: 1px;
}

#following > button {
  font-size: 12px;
  padding: 6px 0 4px 0;
  width: 70px;
  border-radius: 3px;
  border-width: 1px;
}

#blocking > button {
  font-size: 12px;
  padding: 6px 0 4px 0;
  width: 70px;
  border-radius: 3px;
  border-width: 1px;
}

.following-contact {
  margin-top: 5px;
}

.blocking-contact {
  margin-top: 5px;
}

#blocking {
  margin-top: 10px;
}

#blocking-list{
  margin: 10px 0;
}

#feed-items {
  margin: 45px 0 50px 0;
}

.feed-item {
  margin-bottom: 15px;
  padding: 10px;
  display: flex;
  flex-flow: row nowrap;
  border-color: rgb(186, 186, 186);
  border-style: solid;
  border-width: 1px;
}

.post-avatar {
  margin-right: 15px;
}

.post-avatar img {
  width: 48px;
  border-radius: 24px;
}

.post-main {
  width: 100%;
  line-height: 20px;
}

.post-main-content {
  white-space: pre-wrap;
}

.post-main-nameplate {
  margin-bottom: 5px;
}

.post-main-nameplate img {
  float: right;
  width: 1.1em;
  margin: 0 10px 0 20px;
}

.post-nickname {
  font-weight: bold;
  margin-right: 6px;
}

.post-username {
  color: rgb(91, 112, 131);
  font-weight: 400;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

}

.post-date {
  color: rgb(91, 112, 131);
  font-weight: 400;
  font-size: 15px;
}

.post-main-bottom {
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-flow: row nowrap;
}

.post-main-bottom span {
  margin-left: 15px;
  color: rgb(91, 112, 131);
}

.post-main-bottom-comments {
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.post-main-bottom-comments img {
  width: 1.2em;
}

.post-main-bottom-retweets {
  margin: auto;
  display: flex;
  justify-content: center;
}

.post-main-bottom-retweets img {
  width: 1.4em;
}

.post-main-bottom-likes {
  margin: auto;
  display: flex;
  justify-content: center;
}

.post-main-bottom-likes img {
  width: 1.4em;
}
