#home-root {
  width: 100%;
  padding: 60px 30px 0 50px;
  display: flex;
  flex-flow: row nowrap;
}

.bg-red {
  color: white;
  background-color: rgb(247, 110, 110);
}

.cols {
  display: flex;
  flex-flow: column nowrap;
}

#col1-avatar {
  display: block;
  width: 240Px;
  margin-bottom: 55px;
  border-radius: 130px;
}

#col1 {
  flex: 1 0 20%;
  padding-left: 30px;
}

#col1 p {
  font-size: 20px;
  font-weight: bold;
}

#col1 span {
  font-weight: bold;
}

#col1 button {
  font-size: 14px;
  margin-bottom: 15px;
  padding: 8px 10px;
  width: 85%;
  border:none;
  border-radius: 5px;
}

#user-info {
  margin: 10px 0 35px 0;
}

#user-info div{
  margin-bottom: 8px;
}

#col1 a {
  margin-top: 8px;
}

#logout-btn {
  margin-top: 22px;
}

#col2 {
  flex: 1 0 60%;
  padding-left: 45px;
  padding-right: 75px;
}

#new-post {
  border-width: 1px;
  border-color: rgb(186, 186, 186);
  border-style: solid;
  margin: 10px 0 8px 0;
  padding: 10px 15px;
}

#new-post-input {
  width: 100%;
  height: 130px;
  padding: 5px 15px 2px 15px;
  font-size: 20px;
  border-width: 0px;
  outline: none;
}

#new-post-input::placeholder {
  font-size: 24px;
}

#submit-group {
  margin-top: 6px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

#submit-group img {
  margin-left: 5px;
  max-height: 40px;
}

#img-upload {
  display: none;
}

#submit-group img:hover {
  cursor: pointer;
}

#submit-post {
  width: 100%;
  margin-left: 20px;
  border-width: 1px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 10px;
}

#media-attach {
  width: 100%;
  max-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 8px;
}

#new-post img {
  width: 100%;
}

#col3 {
  flex: 1 0 20%;
  padding-right: 10px;
}

.contact-title {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 30px 0;
}

#following-list{
  width: 78%;
  font-size: 13px;
  margin: 10px 0 30px 0;
}

#blocking-list{
  width: 78%;
  font-size: 13px;
  margin: 10px 0 30px 0;
}

#col3 input {
  font-size: 15px;
  width: 60%;
  padding: 4px 10px;
  margin-right: 12px;
  border-radius: 3px;
  border-width: 1px;
}

#col3 input::placeholder {
  font-size: 14px;
}

#following {
  margin-top: 10px;
}

#following > button {
  font-size: 12px;
  padding: 6px 0 4px 0;
  width: 70px;
  border-radius: 3px;
  border-width: 1px;
}

#blocking > button {
  font-size: 12px;
  padding: 6px 0 4px 0;
  width: 70px;
  border-radius: 3px;
  border-width: 1px;
}

#suggestion-container button {
  font-size: 12px;
  padding: 6px 0 4px 0;
  width: 70px;
  border-radius: 3px;
  border-width: 1px;
}

.following-contact {
  margin-top: 5px;
}

.blocking-contact {
  margin-top: 5px;
}

#blocking {
  margin-top: 10px;
}

#feed-items {
  margin: 45px 0 10px 0;
}

#feed-loading {
  margin-bottom: 50px;
}

#feed-loading span {
  padding-left: 0px;
  font-size: 20px;
  font-weight: bold;
}
