  .messaging {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
  }
  
  .container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    font-size: 18px;
  }
  
  .mine {
    background-color: #cee8f0;
  }
  
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  .time-right {
    float: right;
    color: #aaa;
  }
  
  .time-left {
    float: left;
    color: #999;
  }
  
  #title-bar {
    margin: 10px 0 20px 0;
    padding: 10px;
    border-bottom: 2px solid #ccc;
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
  }
  
  #title-bar .names {
    text-align: center;
    flex-grow: 8;
  }
  
  #title-bar .nickname {
    font-size:22px;
    font-weight: bold;
  }
  
  #title-bar .username {
    color: #525252;
  }
  
  #title-bar .icon {
    height: 25px;
  }

  .inputbox {
    margin-top: 150px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .inputbox input {
    padding: 4px 12px;
    font-size: 18px;
    border-width: 2px;
    border-radius: 10px;
    border-color: #ccc;
    width: 95%;
  }
  
  .inputbox img {
    margin-left: 15px;
    height: 30px;
    opacity: 0.75;
  }
